<span (keydown.enter)="this.moveToNextLecture()" class="main">
  <div>
    <button routerLink="/course/{{course.code}}">Back [←]</button>
    <button routerLink="/home">Home [h]</button>
  </div>

  <div class="details-header">
      <span class="details-header-block"></span>
      <span *ngIf="this.isVideoPaused()">presss [Enter] to play video</span>
      <span *ngIf="this.isVideoPlaying()">presss [Enter] to pause video</span>
      <span class="details-header-block">Progress: <span>{{ this.calculateCourseProgress() }}%</span></span>
  </div>

  <div class="course-content">
    <ul class="course-content-list">
      <li *ngFor="let chapter of courseContent?.chapters" style="margin-bottom: 10px">
        <span>
          <span class="course-chapter-items">{{ chapter.name }}</span>
        </span>
        <ul class="courses">
          <li *ngFor="let lecture of chapter.lectures">
            <ul class="course-chapter-items">
              <li (click)="this.selectAndPersistLecture(lecture)" [id]="lecture.id"
                  class="{{this.getLectureClass(lecture)}}">
                <label class="checkbox">
                  <input [checked]="lecture.processed" [disabled]="true" class="course-checked" type="checkbox"/>
                  <span class="name">{{ lecture.name }}</span>
                  <span *ngIf="lecture.type" class="type">&nbsp; - {{ lecture.type }}</span>
                  <span *ngIf="lecture.time" class="type">&nbsp;({{ lecture.time }})</span>
                </label>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>

    <div class="course-item">
      <video-lecture
              *ngIf="navigation.currentLecture.type == 'Watch'"
              [coursePath]="course.code + '-course'"
              [navigationItems]="navigation"
              [progress]="this">
      </video-lecture>
      <document-lecture
              *ngIf="navigation.currentLecture.type == 'Read'"
              [coursePath]="course.code + '-course'"
              [navigationItems]="navigation"
              [progress]="this">
      </document-lecture>
      <quiz-lecture
              *ngIf="navigation.currentLecture.type == 'Interact'"
              [navigationItems]="navigation"
              [progress]="this">
      </quiz-lecture>
    </div>
  </div>
</span>

<app-footer></app-footer>