* {
    overflow: overlay;
}

.main {
    display: flex; justify-content: left; flex-direction: column;
    text-align: left;
}

div {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div.course-content {
    display: grid;
    background-color: var(--very-light);
    border-radius: 5px;
    border: 1px dashed var(--gray);
}

div button {
    width: 14em;
}

li li li:hover {
    color: var(--light);
    background-color: var(--warm);
}

li li li:hover {
    color: var(--hover);
    background-color: var(--warm);
}

li li {
    padding-inline-start: 0px;
    overflow: hidden;
}


.selected {
    color: var(--light);
    background-color: var(--hover);
}

.details-header {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

div.details-header span span {
    font-weight: bold;
    color: var(--hover);
}

.course-section-name {
    font-weight: bold;
}

ul {
    padding-inline-start: 0px;
}

.course-chapter-items {
    font-size: 15px;
    font-weight: bold;
}

.name {
    font-size: 13px;
    font-weight: normal;
    font-family: Verdana;
}

.name-inactive {
    font-size: 13px;
    font-weight: normal;
    font-family: Verdana;
    color: var(--light);
}

.type {
    font-family: Verdana;
    font-size: 13px;
    font-weight: normal;
    color: var(--stale);
}

.details-header-block {
    width: 120px;
}

@media only screen and (min-width: 600px) {
    div button {
        width: 12em;
    }

    .course-content-list {
        display: none;
    }

    div.course-item {
        grid-area: 1 / span 1;
        margin-top: 1em;
        margin-right: 1em;
        background-color: white;
        height: 35em;
        font-family: Verdana, sans-serif;
        width: 750px;
    }
}

@media only screen and (min-width: 850px) {
    div button {
        width: 12em;
    }

    .course-content-list {
        display: none;
    }

    div.course-item {
        grid-area: 1 / span 1;
        margin-top: 1em;
        margin-right: 1em;
        background-color: white;
        height: 35em;
        font-family: Verdana, sans-serif;
        width: 800px;
    }
}

@media only screen and (min-width: 1000px) {
    div button {
        width: 12em;
    }

    .course-content-list {
        display: none;
    }

    div.course-item {
        grid-area: 1 / span 1;
        margin-top: 1em;
        margin-right: 1em;
        background-color: white;
        height: 42em;
        font-family: Verdana, sans-serif;
        width: 950px;
    }
}

@media only screen and (min-width: 1150px) {
    div button {
        width: 12em;
    }

    .course-content-list {
        display: none;
    }

    div.course-item {
        grid-area: 1 / span 1;
        margin-top: 1em;
        margin-right: 1em;
        background-color: white;
        height: 45em;
        font-family: Verdana, sans-serif;
        width: 1066px;
    }
}

@media only screen and (min-width: 1400px) {
    div button {
        width: 12em;
    }

    .course-content-list {
        display: block;
        grid-area: 1 / span 1;
        height: 40em;
        padding-inline-start: 5px;
        width: 412px;
    }

    div.course-item {
        grid-area: 1 / span 1;
        margin-top: 1em;
        margin-right: 1em;
        background-color: white;
        height: 45em;
        font-family: Verdana, sans-serif;
        width: 900px;
    }
}

@media only screen and (min-width: 1600px) {
    div button {
        width: 14em;
    }

    .course-content-list {
        display: block;
        grid-area: 1 / span 1;
        height: 45em;
        padding-inline-start: 5px;
        width: 412px;
    }

    div.course-item {
        grid-area: 1 / span 1;
        margin-top: 1em;
        margin-right: 1em;
        background-color: white;
        height: 45em;
        font-family: Verdana, sans-serif;
        width: 1066px;
    }
}