* {
    overflow: clip;
}

button {
    width: 14em;
}

div {
    text-align: center;
    width: 1066px;
}

div div {
    display: flex;
    justify-content: space-between;
}

.document {
    height: 82vh;
}