<span class="main">
    <div>
        <button [routerLink]="['/home']">Home [h]</button>
    </div>
    <div class="document-container" style="">
        <div class="document">
            <iframe [src]="'https://java-fullstack.tech/static/docs/' + documentPath | safe"
                    frameborder="no"
                    height="100%"
                    type="text/html"
                    width="100%">
            </iframe>
        </div>

    </div>
</span>

<ngx-spinner
        [fullScreen]="false"
        bdColor="rgba(255,255,255,1)"
        color="black"
        size="large"
        type="ball-scale-multiple">
</ngx-spinner>
