* {
    overflow: clip;
}

button {
    width: 14em;
}

div {
    text-align: center;
    width: 1066px;
}

div div {
    display: flex;
    justify-content: space-between;
}

.main {
    display: flex; justify-content: center; flex-direction: column;
    text-align: center;
}

.document-container {
    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 500px) {
    .document {
        width: 500px;
        height: 82vh;
    }
}

@media only screen and (min-width: 1000px) {
    .document {
        width: 900px;
        height: 82vh;
    }
}

@media only screen and (min-width: 1500px) {
    .document {
        width: 1300px;
        height: 82vh;
    }
}