<div class="main">
    <div class="container">
        <div>
            <div class="title">
                Profile
            </div>
            <div class="info">
                {{ profile?.email }}
            </div>
        </div>
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
            <div class="form">
                <div>
                    <div class="name">
                        <input placeholder="Name" type="text" formControlName="name">
                    </div>
                </div>
                <button class="submit" type="submit">Save</button>
                <button routerLink="/home" class="cancel">Close</button>
                <button class="delete" (click)="this.deleteAccount()">Delete Account</button>
                <div class="feedback">
                    <div *ngIf="error" class="error">{{ error }}</div>
                    <div *ngIf="success" class="success">{{ success }}</div>
                </div>
            </div>
        </form>
    </div>
</div>
