<div class="main">
    <div class="container">
        <div style="top">
            <div class="title">
                Update Password
            </div>
            <div class="info">
            <span class="info-text">By continuing, you agree to our <a href="#">User Agreement</a> and acknowledge that you understand the
                <a href="#">Privacy Policy</a>.</span>
            </div>
        </div>

        <form (ngSubmit)="onSubmit()" *ngIf="!this.success" [formGroup]="updatePasswordForm">
            <div class="form">
                <div class="password">
                    <input formControlName="password" placeholder="New password" type="password">
                </div>
                <button class="submit" type="submit">Submit</button>
                <button class="cancel" routerLink="/home">Cancel</button>
                <div class="error">{{ error }}</div>
            </div>
        </form>
        <div *ngIf="this.success">
            <div class="form">
                <div class="success">
                    Password recovery link sent! Check your email to reset your password.
                </div>
                <button class="cancel" routerLink="/home">Close</button>
                <div class="error">{{ error }}</div>
            </div>
        </div>
    </div>
</div>

