@media only screen and (min-width: 700px) {
    .grid-container {
        margin-left: 20px;
        display: grid;
        grid-template-columns: 2fr;
        gap: 10px;
        width: 720px;
    }
    .item1 {grid-area: 1 / span 1;}
    .item2 {grid-area: 1 / span 1;}
    .item3 {grid-area: 2 / span 1;}
    .item4 {grid-area: 2 / span 1;}
    .item5 {grid-area: 3 / span 1;}
    .item6 {grid-area: 3 / span 1;}
    .item7 {grid-area: 4 / span 1;}
    .item8 {grid-area: 4 / span 1;}
}

@media only screen and (min-width: 1100px) {
    .grid-container {
        margin-left: 0px;
        display: grid;
        grid-template-columns: 2fr;
        gap: 10px;
        width: 1080px;
    }
    .item1 {grid-area: 1 / span 1;}
    .item2 {grid-area: 1 / span 1;}
    .item3 {grid-area: 1 / span 1;}
    .item4 {grid-area: 2 / span 1;}
    .item5 {grid-area: 2 / span 1;}
    .item6 {grid-area: 2 / span 1;}
    .item7 {grid-area: 3 / span 1;}
    .item8 {grid-area: 3 / span 1;}
}

@media only screen and (min-width: 1500px) {
    .grid-container {
        display: grid;
        grid-template-columns: 2fr;
        gap: 10px;
        width: 1440px;
        text-align: center;
    }
    .item1 {grid-area: 1 / span 1;}
    .item2 {grid-area: 1 / span 1;}
    .item3 {grid-area: 1 / span 1;}
    .item4 {grid-area: 1 / span 1;}
    .item5 {grid-area: 2 / span 1;}
    .item6 {grid-area: 2 / span 1;}
    .item7 {grid-area: 2 / span 1;}
    .item8 {grid-area: 2 / span 1;}
}



.courses li {
    display: flex;
}

.courses button {
    flex: 1;
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: var(--very-light);
    margin: .5em;
    padding: 0;
    border-radius: 6px;
    display: flex;
    align-items: stretch;
    height: 3em;
}

.courses button:hover {
    color: var(--white);
    background-color: var(--main);
}

.courses button:active {
    color: var(--light);
}

.courses button.selected {
    background-color: var(--main);
    color: var(--white);
}

.courses button.selected:active {
    background-color: var(--main);
    color: var(--white);
}

.courses .badge {
    display: inline-block;
    color: var(--white);
    background-color: var(--main);
    line-height: 3em;
    margin-right: .8em;
    border-radius: 8px 0 0 8px;
    width: 3em;
}

.courses .enrolled {
    border: 1px;
    color: var(--white);
    background-color: var(--main);
    border-radius: 10px 10px 10px 10px;
    padding-top: 0.3em;
    margin-right: 0.5em;
    margin-top: 0.6em;
    height: 1.5em;
    width: 6em;
}

.courses .name {
    align-self: center;
    font-weight: bold;
    font-size: 28px;
}

.courses li button {
    justify-content: space-between;
}


.button-text {
    display: flex;
    align-items: center;
}

.course-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.course-box-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

