<h1>{{ title }}</h1>
<div *ngIf="courses" class="grid-container">
    <course-tile [course]="courses[0]" class="item1"></course-tile>
    <course-tile [course]="courses[1]" class="item2"></course-tile>
    <course-tile [course]="courses[2]" class="item3"></course-tile>
    <course-tile [course]="courses[3]" class="item4"></course-tile>
    <course-tile [course]="courses[4]" class="item5"></course-tile>
    <course-tile [course]="courses[5]" class="item6"></course-tile>
    <course-tile [course]="courses[6]" class="item7"></course-tile>
    <course-tile [course]="courses[7]" class="item8"></course-tile>
</div>

<app-footer></app-footer>
