<span class="main">
    <h1>{{ title }}</h1>
    <div class="course-box">
        <div class="course-box-row">
            <course-tile [course]="courses[0]"></course-tile>
            <course-tile [course]="courses[1]"></course-tile>
            <course-tile [course]="courses[2]"></course-tile>
            <course-tile [course]="courses[3]"></course-tile>
        </div>
        <div class="course-box-row">
            <course-tile [course]="courses[4]"></course-tile>
            <course-tile [course]="courses[5]"></course-tile>
            <course-tile [course]="courses[6]"></course-tile>
            <course-tile [course]="courses[7]"></course-tile>
        </div>
    </div>
</span>
