<div class="main">
    <div>
        <button [routerLink]="['/home']">Home [h]</button>
    </div>
    <div class="container">
        <div>
            <div class="title">
                Contact Form
            </div>
        </div>
        <form (ngSubmit)="onSubmit()" *ngIf="!this.success" [formGroup]="contactForm">
            <div class="form">
                <div class="subject">
                    <input formControlName="subject" placeholder="Subject" type="text">
                </div>
                <div class="email">
                    <input formControlName="email" placeholder="Your email" type="text">
                </div>
                <div class="message">
                    <textarea formControlName="message" multiple maxlength="400"></textarea>
                </div>
                <button class="submit" type="submit">Send message</button>
                <div class="error">{{ error }}</div>
            </div>
        </form>
        <div *ngIf="this.success">
            <div class="form">
                <div class="success">
                    Message has been sent. Thank you
                </div>
                <button class="cancel" routerLink="/home">Close</button>
                <div class="error">{{ error }}</div>
            </div>
        </div>
    </div>
    <div class="contact-email">or just send us an email at: <a href="mailto:contact@java-fullstack.tech" target="_blank">contact&#64;full-stack.tech</a></div>
</div>
<app-footer></app-footer>
