* {
    overflow: clip;
}

button {
    width: 14em;
}

div {
    text-align: center;
    width: 1066px;
}

div div {
    display: flex;
    justify-content: space-between;
}

.main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inside {
    text-align: center;
    justify-content: center;
    align-items: center;
}
