<div class="video-container">
    <video #video (ended)="this.progress?.markAsViewed()"
           height="600"
           id="{{navigationItems.currentLecture.id}}"
           onmouseout="this.removeAttribute('controls')" onmouseover="this.setAttribute('controls','controls')" preload="" width="1066">
        <source src="https://{{coursePath}}.hel1.your-objectstorage.com/{{navigationItems.currentLecture.id}}"
                type="video/mp4">
    </video>
    <course-navigation [navigationItems]="navigationItems" [progress]="this.progress"></course-navigation>
</div>
