<div class="main">
    <div class="container">

        <div class="top">
            <div class="title">
                Account Activated
            </div>
            <div class="info">
                <span class="info-text">By continuing, you agree to our <a href="#">User Agreement</a> and acknowledge
                    that you understand the <a href="#">Privacy Policy</a>.
                </span>
            </div>
        </div>

        <div class="activation-info">
            <button class="cancel" routerLink="/home">Close & Go the main page</button>
        </div>

    </div>
</div>

<app-footer></app-footer>
