<div class="main">
    <div class="container">
        <div class="title">
            Sign Up
        </div>
        <div class="info">
            <span class="info-text">By continuing, you agree to our <a href="#">User Agreement</a> and acknowledge that you understand the <a
                    href="#">Privacy Policy</a>.</span>
        </div>
        <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
            <div class="form">
                <div class="name">
                    <input placeholder="Name" type="text" formControlName="name">
                </div>
                <div class="email">
                    <input placeholder="Email" type="text" formControlName="email">
                </div>
                <div class="password">
                    <input placeholder="Password" type="password" formControlName="password">
                </div>
                <button class="submit" type="submit">Submit</button>
                <button routerLink="/home" class="cancel">Cancel</button>
                <div class="error">{{error}}</div>
            </div>
        </form>
    </div>
</div>

