* {
    overflow: clip;
}

.main {
    display: flex; justify-content: left; flex-direction: column;
    text-align: left;
}

.course-content-list {
    list-style-type: decimal;
    padding-inline-start: 5px;
}

.course-content-list li {
    font-weight: bold;
    margin-top: 15px;
}

@media only screen and (min-width: 1000px) {
    .course-content-list ul {
        column-count: 2;
        column-rule: dashed 1px var(--light);
        list-style-type: none;
        padding-inline-start: 5px;
    }
}

@media only screen and (min-width: 1200px) {
    .course-content-list ul {
        column-count: 3;
        column-rule: dashed 1px var(--light);
        list-style-type: none;
        padding-inline-start: 5px;
    }
}

.course-content-list li li {
    font-weight: normal;
    margin-top: 0px;
}

.course-content {
    justify-content: center;
}

div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div button {
    width: 14em;
}

.chapter {
    display: flex;
    justify-content: left;
    margin-bottom: 5px;
    margin-top: 10px;
    border-bottom: 1px var(--very-light) solid;
}
