<span *ngIf="course" class="main">
  <div>
    <button (click)="this.enrollCourse()"
            *ngIf="!course.enrolled && this.isAuthenticated()"
            routerLink="/course/{{course.code}}/progress">
        Enroll
    </button>
    <button (click)="this.redirectToSignIn()"
            *ngIf="!this.isAuthenticated()">
        Enroll
    </button>

    <button (click)="this.unenrollCourse()"
            *ngIf="course.enrolled && this.isAuthenticated()">
        Unenroll
    </button>

    <button *ngIf="course.enrolled && this.isAuthenticated()"
            routerLink="/course/{{course.code}}/progress">
        Open
    </button>

    <button [routerLink]="['/home']">Home</button>
  </div>

  <h2>{{ course.name }} - Table of Content</h2>

  <div class="course-content">
    <ul class="course-content-list">
      <li *ngFor="let chapter of courseContent?.chapters">
      <span>
        <span class="name">{{ chapter.name }}</span>
      </span>
        <ul class="courses">
          <li *ngFor="let lecture of chapter.lectures">
            <label class="checkbox">
              <input [checked]="lecture.processed" [disabled]="true" class="course-checked" type="checkbox"/>
              <span class="name">{{ lecture.name }}</span>
            </label>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</span>
