<span (keydown.enter)="this.next()" class="main">
  <div>
    <button routerLink="/reset">Reset</button>
    <button routerLink="/course/{{course.code}}">Back</button>
  </div>

  <h2>{{ course.name }}</h2>

  <div class="progress">
    <span>Progress: <span>{{ this.courseProgress() }}%</span></span>
  </div>

  <div class="course-content">
    <ul class="course-content-list">
      <li *ngFor="let section of courseContent?.sections">
        <span>
          <span class="course-chapter-items">{{ section.name }}</span>
        </span>
        <ul class="courses">
          <li *ngFor="let chapter of section.chapters">
            <ul class="course-chapter-items">
              <li (click)="this.setItem(item)" *ngFor="let item of chapter.items" [id]="item.id"
                  class="{{this.getClass(item)}}">
                <label class="checkbox">
                  <input [checked]="item.processed" [disabled]="true" class="course-checked" type="checkbox"/>
                  <span class="name">{{ chapter.name }}&nbsp;({{item.name}}) </span>
                  <span *ngIf="item.time" class="name">&nbsp;- {{ item.time }}</span>
                </label>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <div class="course-item">
      <video-item *ngIf="navigationItems.currentItem.name == 'Video'"
                  [navigationItems]="navigationItems"
                  [progress]="this">
      </video-item>
      <pdf-item *ngIf="navigationItems.currentItem.name == 'PDF'"
                [navigationItems]="navigationItems"
                [progress]="this">
      </pdf-item>
      <quiz-item *ngIf="navigationItems.currentItem.name == 'Quiz'"
                 [navigationItems]="navigationItems"
                 [progress]="this">
      </quiz-item>
    </div>
  </div>
</span>
