<span (keydown.enter)="this.next()" class="main">
  <div>
    <button routerLink="/reset">Reset</button>
    <button routerLink="/course/{{course.code}}">Back</button>
  </div>

  <h2>{{ course.name }}</h2>

  <div class="progress">
    <span>Progress: <span>{{ this.courseProgress() }}%</span></span>
  </div>

  <div class="course-content">
    <ul class="course-content-list">
      <li *ngFor="let chapter of courseContent?.chapters">
        <span>
          <span class="course-chapter-items">{{ chapter.name }}</span>
        </span>
        <ul class="courses">
          <li *ngFor="let lecture of chapter.lectures">
            <ul class="course-chapter-items">
              <li (click)="this.setLecture(lecture)" [id]="lecture.id"
                  class="{{this.getClass(lecture)}}">
                <label class="checkbox">
                  <input [checked]="lecture.processed" [disabled]="true" class="course-checked" type="checkbox"/>
                  <span class="name">{{ lecture.name }}&nbsp;({{ lecture.type }})</span>
                  <span *ngIf="lecture.time" class="name">&nbsp;- {{ lecture.time }}</span>
                </label>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <div class="course-item">
      <video-item *ngIf="navigationLectures.currentLecture.type == 'Video'"
                  [navigationItems]="navigationLectures"
                  [progress]="this">
      </video-item>
      <pdf-item *ngIf="navigationLectures.currentLecture.type == 'PDF'"
                [navigationItems]="navigationLectures"
                [progress]="this">
      </pdf-item>
      <quiz-item *ngIf="navigationLectures.currentLecture.type == 'Quiz'"
                 [navigationItems]="navigationLectures"
                 [progress]="this">
      </quiz-item>
    </div>
  </div>
</span>

