<span class="main" (keydown.enter)="this.next()">
  <div>
    <button routerLink="/reset">Reset</button>
    <button routerLink="/course/{{course.id}}">Back</button>
  </div>

  <h2>{{course.name}}</h2>

  <div class="progress">
    <span>Progress: <span>{{this.courseProgress()}}%</span></span>
  </div>

  <div class="course-content">
    <ul class="course-content-list">
      <li *ngFor="let section of courseContent?.sections">
        <span>
          <span class="name">{{section.name}}</span>
        </span>
        <ul class="courses">
          <li *ngFor="let chapter of section.chapters">
            <label class="checkbox">
              <input class="course-checked" type="checkbox" [disabled]="true" [checked]="chapter.processed"/>
              <span class="name">{{chapter.name}}</span>
            </label>
            <ul class="course-chapter-items">
              <li [id]="item.id" *ngFor="let item of chapter.items" class="{{this.getClass(item)}}" (click)="this.setItem(item)">
                <label class="checkbox">
                  <input class="course-checked" type="checkbox" [disabled]="true" [checked]="item.processed"/>
                  <span class="name">{{item.name}}</span>
                  <span *ngIf="item.time" class="name">({{item.time}})</span>
                </label>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <div class="course-item">
      <video-item *ngIf="navigationItems.currentItem.name == 'Video'" [progress]="this" [navigationItems]="navigationItems"></video-item>
      <pdf-item *ngIf="navigationItems.currentItem.name == 'PDF'" [progress]="this" [navigationItems]="navigationItems"></pdf-item>
      <quiz-item *ngIf="navigationItems.currentItem.name == 'Quiz'" [progress]="this" [navigationItems]="navigationItems"></quiz-item>
    </div>
  </div>
</span>
