<div class="main">
    <div class="container">
        <div class="title">
            Sign In
        </div>
        <div class="info">
            <span class="info-text">By continuing, you agree to our <a href="#">User Agreement</a> and acknowledge that you understand the <a
                    href="#">Privacy Policy</a>.</span>
        </div>
        <div data-auto_prompt="false"
             data-client_id=""
             data-login_uri="https://localhost/api/v1/google-sign-in"
             id="g_id_onload">
        </div>
        <div class="g_id_signin" style="height: 50px;"
             data-logo_alignment="left"
             data-shape="rectangular"
             data-size="large"
             data-text="continue_with"
             data-theme="outline"
             data-type="standard">
        </div>
        <div class="or">
            -------------------------------------------------- or --------------------------------------------------
        </div>
        <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
            <div class="form">
                <div class="email">
                    <input placeholder="Email" type="text" formControlName="email">
                </div>
                <div class="password">
                    <input placeholder="Password" type="password" formControlName="password">
                </div>
                <button class="submit" type="submit">Sign In</button>
                <button routerLink="/home" class="cancel">Cancel</button>
                <div class="error">{{error}}</div>
            </div>
        </form>
        <div>
            <span>Don't have an account? <a routerLink="/sign-up">Sign Up</a></span>
        </div>
        <div>
            <span>Forgot password? <a routerLink="/password-recovery">Pasword Recovery</a></span>
        </div>
    </div>
</div>

