<div class="main">
    <div class="container">
        <div class="top">
            <div class="title">
                Sign In
            </div>
            <div class="info">
            <span class="info-text">By continuing, you agree to our <a href="#">User Agreement</a> and acknowledge that you understand the <a
                    href="#">Privacy Policy</a>.</span>
            </div>
        </div>
        <div data-auto_prompt="false"
             data-client_id=""
             data-login_uri="https://localhost/api/v1/google-sign-in"
             id="g_id_onload">
        </div>
        <div class="g_id_signin" data-logo_alignment="left"
             data-shape="rectangular"
             data-size="large"
             data-text="continue_with"
             data-theme="outline"
             data-type="standard"
             style="height: 50px;">
        </div>
        <div class="or">
            -------------------------------------------------- or --------------------------------------------------
        </div>
        <form (ngSubmit)="onSubmit()" [formGroup]="signInForm">
            <div class="form">
                <div class="email">
                    <input formControlName="email" placeholder="Email" type="text">
                </div>
                <div class="password">
                    <input formControlName="password" placeholder="Password" type="password">
                </div>
                <button class="submit" type="submit">Sign In</button>
                <button class="cancel" routerLink="/home">Cancel</button>
                <div class="error">{{ error }}</div>
            </div>
        </form>
        <div>
            <span>Don't have an account? <a routerLink="/sign-up">Sign Up</a></span>
        </div>
        <div>
            <span>Forgot password? <a routerLink="/reset-password">Reset Password</a></span>
        </div>
    </div>
</div>

