* {
    overflow: clip;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.main {
    margin-top: 50px;
    display: flex;
    height: 440px;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 10px;
    display: flex;
    width: 380px;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--very-light);
}

.title {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 50px;
    font-size: 24px;
}

.info {
    display: flex;
    padding: 10px;
    height: 50px;
}

.or {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

input {
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: var(--black);
    padding: 1rem 1rem 1rem 1rem;
    margin: 1rem;
    width: 275px;
}

button.submit {
    width: 310px;
}
