<div class="main">
    <div class="container">
        <div>
            <div class="title">
                Subscribe
            </div>
            <div class="info">
                <span class="info-text">By continuing, you agree to our <a href="#">User Agreement</a>
                    and acknowledge that you understand the<a href="#">Privacy Policy</a>.
                </span>
            </div>
        </div>
        <div class="form">
            <button (click)="this.checkoutSession()" class="pay">
                <div style="display: flex; flex-direction: column; justify-content: space-around; height: 200px">
                    <div>
                        <div style="font-size: 40px; font-weight: bold">US$ 15</div>
                        <div style="font-size: 20px; font-style: italic">per month</div>
                    </div>
                    <div style="font-size: 20px; font-weight: bold">Subscribe & Pay</div>
                </div>
            </button>
            <button class="cancel" routerLink="/home">Close</button>
            <div class="error">{{ error }}</div>
        </div>
        <div *ngIf="this.success">
            <div class="form">
                <div class="success">
                    Password recovery link sent! Check your email to reset your password.
                </div>
                <button class="cancel" routerLink="/home">Close</button>
                <div class="error">{{ error }}</div>
            </div>
        </div>
    </div>
</div>
