<div *ngIf="navigationItems.currentLecture">
    <object *ngIf="this.width() >= 1500"
            [data]="'https://storage.googleapis.com/' + navigationItems.currentLecture.id + '#toolbar=0&scrollbar=1' | safe"
            frameborder="0" height="600" width="1060"></object>
    <object *ngIf="this.width() < 1500"
            [data]="'https://storage.googleapis.com/' + navigationItems.currentLecture.id + '#toolbar=0&scrollbar=0&zoom=70' | safe"
            frameborder="0" height="600" width="1060"></object>
    <course-navigation [navigationItems]="navigationItems" [progress]="this.progress"/>
</div>
