
.header {
    width: 300px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    font-size: 20px;
}

button {
    width: 12em;
}

div {
    margin-top: 14px;
    display: flex;
    justify-content: center;
}

a {
    color: var(--main);
    margin-left: 10px;
}

a:hover {
    font-weight: bold;
}