
.header {
    width: 650px;
    position: absolute;
    top: 0;
    right: 20px;
    text-align: right;
    font-size: 18px;
}

.version {
    margin-left: 20px;
    position: absolute;
    top: 0px;
    left: 0;
    text-align: left;
    font-size: 18px;
}

button {
    width: 14em;
}

div {
    margin-top: 14px;
    display: flex;
    justify-content: right;
}

a {
    color: var(--main);
    margin-left: 5px;
    margin-right: 5px;
}

a:hover {
    font-weight: bold;
}

.free-trial {
    color: var(--green);
    font-weight: bold;
}

.free-trial:hover {
    cursor: default;
}
