
.header {
    width: 380px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    font-size: 20px;
}

.footer {
    margin-left: 20px;
    position: absolute;
    top: 0px;
    left: 0;
    text-align: left;
    font-size: 20px;
    color: var(--gray);
}

button {
    width: 14em;
}

div {
    margin-top: 14px;
    display: flex;
    justify-content: center;
}

a {
    color: var(--main);
    margin-left: 5px;
    margin-right: 5px;
}

a:hover {
    font-weight: bold;
}
