<div class="header">
    <a *ngIf="!this.isSubscribed()" href="/subscribe">
        Subscribe
    </a>
    <span *ngIf="!this.isSubscribed()">|</span>
    <a *ngIf="this.isAuthenticated()" href="/profile">
        Profile
    </a>
    <span *ngIf="this.isAuthenticated()">|</span>
    <a (click)="this.signOut()" *ngIf="this.isAuthenticated()">
        Sign Out
    </a>
    <a *ngIf="!this.isAuthenticated() && !this.isSignInUpPage()" href="/sign-in">
        Sign In
    </a>
</div>
<div class="footer">
    v{{ version }}
</div>
