<div class="header">
    <a *ngIf="this.isFreeTrial() && this.isAuthenticated()" class="free-trial">
        Free Trial ends in {{ freeTrialTimeLeft }}
    </a>
    <span *ngIf="this.isFreeTrial() && this.isAuthenticated()">|</span>
    <a *ngIf="this.isSubscribed() && this.isAuthenticated()" href="/manage-subscription">
        Subscription
    </a>
    <span *ngIf="this.isSubscribed() && this.isAuthenticated()">|</span>
    <a *ngIf="this.isNotSubscribed() && this.isAuthenticated()" href="/subscribe">
        Subscribe
    </a>
    <span *ngIf="this.isNotSubscribed() && this.isAuthenticated()">|</span>
    <a *ngIf="this.isAuthenticated()" href="/profile">
        Profile
    </a>
    <span *ngIf="this.isAuthenticated()">|</span>
    <a (click)="this.signOut()" *ngIf="this.isAuthenticated()">
        Sign Out
    </a>
    <a *ngIf="!this.isAuthenticated() && !this.isSignInUpPage()" href="/sign-in">
        Sign In
    </a>
</div>
<div class="version">
    v{{ version }}
</div>
