.quiz {
  width: 100%;
  flex-direction: column;
  display: flex;
  flex: 1;
  background-color: white;
}

.quiz-content {
  display: flex;
  width: 926px;
  height: 634px;
  background-color: var(--very-light-blue);
  justify-content: center;
  align-items: center;
}

button {
  background-color: var(--warm-blue);
  width: 16em;
}
