.quiz {
    width: 100%;
    flex-direction: column;
    display: flex;
    flex: 1;
    background-color: white;
}

.quiz-content {
    display: flex;
    width: 1065px;
    height: 604px;
    background-color: var(--very-light);
    justify-content: center;
    align-items: center;
}

button {
    background-color: var(--warm);
    width: 16em;
}
