@import 'node_modules/cookieconsent/build/cookieconsent.min.css';

/** Global Colors */
:root {
    --main: var(--main);
    --main: var(--main);
    --very-light: #F8F8F8;
    --light: #D1D0CE;
    --warm: #D1D0CE;
    --hover: #444444;
    --active: #01234a;
    --checked-dark: #01234a;
    --checked-warm: #ceffaf;
    --enrolled: #f4f8fd;
    --side-form: #F8F8F8;
    --main: #333333;
    --gray: #808080;
    --error: #fa1607;
    --delete: pink;
    --stale: slategray;
    --darkgrey: darkgrey;
    --white: white;
    --steel: #F8F8F8;
    --subscribe: #ecffe6;
    --subscribe-hover: #ecffe6;
    --green: #21c006;
    --expired: #ef8b08;
    --footer-link: #0e447e;
    --header-link: #0e447e;
}

/* Global Styles */
* {
    font-family: Courier, sans-serif;
}

h1 {
    color: var(--main);
    margin-top: 25px;
    font-size: 3.2rem;
    text-align: center;
}

h2 {
    color: var(--main);
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 1.3rem;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    background-color: var(--white);
    padding: .5rem;
    margin: 1.2em auto auto;
    overflow-y: scroll;
}

.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

button {
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: var(--main);
    font-size: 1.3rem;
    padding: 1rem 0 1rem 0;
    margin: 1rem;
    background-color: var(--steel);
    border: 1px var(--darkgrey) dashed;
}

button:hover {
    background-color: var(--hover);
    color: var(--white);
}

button:disabled {
    color: gray;
    background-color: var(--very-light);
}

button:active {
    color: var(--light);
    background-color: var(--stale);
}

span {
    overflow: clip;
}

.checkbox {
    display: inline-flex;
    cursor: pointer;
    position: relative;
}

.checkbox > span {
    padding-top: 4px;
}

.checkbox > input {
    height: 20px;
    width: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: 1px solid var(--white);
    border-radius: 4px;
    outline: none;
    transition-duration: 0.3s;
    background-color: var(--white);
    border: 1px dotted var(--gray);
    cursor: pointer;
}

.checkbox > input:checked {
    border: 1px dotted gray
}

.checkbox > input:checked + span::before {
    content: '\2713';
    display: block;
    text-align: center;
    color: var(--checked-dark);
    position: absolute;
    top: 4px;
    left: 9px;
}

.checkbox > input:active {
    border: 1px dotted var(--gray);
}

div button {
    width: 14em;
}

a {
    cursor: pointer;
    text-decoration: none;
}
