/** Global Colors */
:root {
    --h1-blue: black;
    --h2-blue: black;
    --very-light-blue: #F8F8F8;
    --light-blue: #D1D0CE;
    --warm-blue: #D1D0CE;
    --hover-blue: black;
    --active-blue: #01234a;
    --checked-blue: #01234a;
    --checked: white;
}

/* Global Styles */
* {
    font-family: Courier, sans-serif;
    overflow: overlay;
}

h1 {
    margin-top: 0px;
    font-size: 3.2rem;
    text-align: center;
}

h2 {
    color: var(--h2-blue);
    font-weight: bold;
    text-align: center;
    font-size: 48px;
    margin: 15px;
}

h3 {
    font-size: 1.3rem;
}

body {
    padding: .5rem;
    max-width: 1500px;
    margin: 1.5em auto auto;
}

@media (min-width: 800px) {
    body {
        padding: 0;
    }
}

button {

    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: var(--h1-blue);
    font-size: 1.3rem;
    padding: 1rem 0 1rem 0;
    margin: 1rem;
}

button:hover {
    background-color: var(--hover-blue);
    color: white;
}

button:disabled {
    color: gray;
    background-color: var(--very-light-blue);
}

button:active {
    color: var(--light-blue);
}

span {
    overflow: clip;
}

.checkbox {
    display: inline-flex;
    cursor: pointer;
    position: relative;
}

.checkbox > span {
    padding-top: 4px;
}

.checkbox > input {
    height: 20px;
    width: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: 1px solid white;
    border-radius: 4px;
    outline: none;
    transition-duration: 0.3s;
    background-color: white;
    border: 1px dotted gray;
    cursor: pointer;
}

.checkbox > input:checked {
    border: 1px dotted gray;
    background-color: var(--checked);
}

.checkbox > input:checked + span::before {
    content: '\2713';
    display: block;
    text-align: center;
    color: var(--checked-blue);
    position: absolute;
    left: 10px;
    top: 4px;
}

.checkbox > input:active {
    border: 1px dotted gray;
}
