/** Global Colors */
:root {
    --main: var(--main);
    --main: var(--main);
    --very-light: #F8F8F8;
    --light: #D1D0CE;
    --warm: #D1D0CE;
    --hover: var(--main);
    --active: #01234a;
    --checked-dark: #01234a;
    --checked-warm: #ceffaf;
    --main: #363131;
}

@media (max-width: 1500px) {
    body {
        zoom: 85%;
    }
}

@media (max-width: 1300px) {
    body {
        zoom: 75%;
    }
}

@media (max-width: 1100px) {
    body {
        zoom: 65%;
    }
}

/* Global Styles */
* {
    font-family: Courier, sans-serif;
    overflow: clip;
}

h1 {
    color: var(--main);
    margin-top: 25px;
    font-size: 3.2rem;
    text-align: center;
}

h2 {
    color: var(--main);
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 1.3rem;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    background-color: white;
    padding: .5rem;
    max-width: 1500px;
    height: 95vh;
    margin: 0.5em auto auto;
    overflow: overlay;
}

button {
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: var(--main);
    font-size: 1.3rem;
    padding: 1rem 0 1rem 0;
    margin: 1rem;
}

button:hover {
    background-color: var(--hover);
    color: white;
}

button:disabled {
    color: gray;
    background-color: var(--very-light);
}

button:active {
    color: var(--light);
}

span {
    overflow: clip;
}

.checkbox {
    display: inline-flex;
    cursor: pointer;
    position: relative;
}

.checkbox > span {
    padding-top: 4px;
}

.checkbox > input {
    height: 20px;
    width: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: 1px solid white;
    border-radius: 4px;
    outline: none;
    transition-duration: 0.3s;
    background-color: white;
    border: 1px dotted gray;
    cursor: pointer;
}

.checkbox > input:checked {
    border: 1px dotted gray;
    background-color: var(--checked-warm);
}

.checkbox > input:checked + span::before {
    content: '\2713';
    display: block;
    text-align: center;
    color: var(--checked-dark);
    position: absolute;
    top: 4px;
    left: 9px;
}

.checkbox > input:active {
    border: 1px dotted gray;
}

div button {
    width: 12em;
}
