<div *ngIf="navigationItems.currentLecture">
    <iframe (load)="hideSpinner()"
            [src]="'https://java-fullstack.tech/static/' + coursePath + '/' + navigationItems.currentLecture.id | safe"
            id="document-frame"
            class="document-frame"
            type="text/html"
            frameborder="0"
            loading="lazy">
    </iframe>
    <ngx-spinner
            [fullScreen]="false"
            bdColor="rgba(255,255,255,1)"
            color="black"
            size="large"
            type="ball-scale-multiple">
    </ngx-spinner>
</div>
<div>
    <course-navigation
            [navigationItems]="navigationItems"
            [progress]="this.progress"/>
</div>
