* {
    overflow: clip;
}

button {
    width: 14em;
}


div div {
    display: flex;
    justify-content: space-between;
}

@media only screen {
    div {
        text-align: center;
        width: 750px;
    }

    .document-frame {
        width: 750px;
        height: 420px;
    }
}

@media only screen and (min-width: 1000px) {
    div {
        text-align: center;
        width: 950px;
    }

    .document-frame {
        width: 950px;
        height: 541px;
    }
}

@media only screen and (min-width: 1150px) {
    div {
        text-align: center;
        width: 620px;
    }

    .document-frame {
        width: 620px;
        height: 346px;
    }
}

@media only screen and (min-width: 1400px) {
    div {
        text-align: center;
        width: 900px;
    }

    .document-frame {
        width: 900px;
        height: 596px;
    }
}

@media only screen and (min-width: 1600px) {
    div {
        text-align: center;
        width: 1066px;
    }

    .document-frame {
        width: 1066px;
        height: 596px;
    }
}