<div *ngIf="navigationItems.currentLecture" style="position: relative">
    <iframe (load)="hideSpinner()"
            [src]="'https://' + coursePath +'.hel1.your-objectstorage.com/' + navigationItems.currentLecture.id | safe"
            frameborder="0"
            height="600" id="document-frame"
            loading="lazy"
            width="1070">
    </iframe>
    <ngx-spinner
            [fullScreen]="false"
            bdColor="rgba(255,255,255,1)"
            color="black"
            size="large"
            type="ball-scale-multiple">
    </ngx-spinner>
    <course-navigation
            [navigationItems]="navigationItems"
            [progress]="this.progress"/>
</div>
