* {
    overflow: clip;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div button {
    font-size: 1.3rem;
    width: 14em;
}