.footer {
    text-align: center;
    width: 98%;
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 25px;
}

a {
    color: var(--main);
    margin-left: 5px;
    margin-right: 5px;
}

a:hover {
    font-weight: bold;
}